.jumbotron{
margin-top: 20px;
margin-left: 150px;
padding: 0px;
width:80%;
text-align: center;
background-color:#e6e6ff;
color:black;
}
.thumbnail img {
   height:250px;
   width:100%;
}

.name-label{
  margin-right:25px;
}
.jumbotron-custom{
    background:url("http://www.foodwastealliance.org/wp-content/uploads/2013/05/iStock_000014489544Medium.jpg") center center;/*slide.jpg =>you image*/
    margin-top: -20px;/*removes white space at top*/
    background-size: cover;
    text-align: center;
    min-height:100%;
    min-height: 100vh; /* fills full page     */
    display: flex;
    align-items: center;
    display:block;
}
.btn btn-default btn-lg btn-block{
  background-color: #4CAF50;
font-size: 14;
}
.btn btn-danger{
  margin-left:450px;
}
.jumbotron-2{
  background-color:#99ccff;
  margin-top: 20px;
  padding: 0px;
  margin-left: 450px;
  margin-right:450px;
}
.title-form{
  margin-top: -20px;
}
.form-inline-unique{
  font-size: 14pt;
  display:block;
  margin-bottom: -40px;
  margin-top:50px;
}
.form-inline-unique2{
  font-size: 14pt;
  display:block;
  margin-top:-60px;
}

.form-inline-unique3{
  font-size: 14pt;
  display:block;
  margin-right:50px;
  margin-top:50px;
}
.form-inline-unique4{
  font-size: 14pt;
  display:block;
  margin-top:-60px;
}
.customCSS1{
  margin-top:50px;
  margin-bottom:150px;
  border-radius:5px;
  width:200px;
 }
.customCSS2{
  width: 30%;
  height:350px;
  margin-left:10px;
  border-radius:5px;
}

.customCSS3{
  width: 30%;
  height:350px;
  margin-left:50px;
  border-radius:5px;
}
.customCSS4{
  margin-top:-200px;
  width: 30%;
  height:250px;
  margin-left:700px;
  border-radius:5px;
}

.listing{
  font-size:24px;
  text-align: center;
  align-items: center;
}
.details{
  text-align: center;
  font-size: 42px;
  margin-bottom: 50px;

}
