{% extends 'Shopping_List/base.html' %}

{% block content %}


<form action="/your-name/" method="post">
  {% csrf_token %}
  {{ form.as_p }}
</form>
  <div>
        {% if grocerylist.created_date %}
            <div>
                {{ grocerylist.created_date }}
            </div>
        {% endif %}
        <h1>{{ grocerylist.title }}</h1>
        <p>{{ grocerylist.text|linebreaksbr }}</p>
    </div>
    <a href="http://127.0.0.1:8000/Shopping_List/saved_lists/" class="btn btn-primary a-btn-slide-text">
   <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <span><strong>Delete</strong></span>
</a>
{% endblock %}}
