{% extends 'Shopping_List/base.html' %}

{% block content %}
    {% for Grocery_list in saved_lists%}
        <div class="post">
            <div class="date">
                {{ Grocery_list.created_date }}
            </div>
            <h1><a href="{% url 'grocerylist_detail' pk=Grocery_list.pk %}">{{ Grocery_list.title }}</a></h1>
            <p>{{ Grocery_list.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Shopping List</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="http://127.0.0.1:8000/">Home</a></li>
      <li><a href="#">Recipes</a></li>
      <li><a href="#">Menu</a></li>
      <li class="active"><a href="http://127.0.0.1:8000/Shopping_List/saved_lists/">Grocery List</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
