{% extends 'Shopping_List/base.html' %}

{% block content %}

  <div>
        {% if grocerylist.created_date %}
            <div class="listing">
                {{ grocerylist.created_date }}
            </div>
        {% endif %}
        <h1 class="details">{{ grocerylist.title }}</h1>
        <div class="jumbotron-2">
        <p class="listing">{{ grocerylist.text|linebreaksbr }}</p>
      </div>
    </div>
    <form action="{% url 'grocery_delete' grocerylist.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
    </form>

{% endblock %}}
<a href="http://127.0.0.1:8000/Shopping_List/saved_lists/" class="btn btn-primary a-btn-slide-text">
<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
<span><strong>Delete</strong></span>
</a>
