{% extends 'Shopping_List/base.html' %}

{% block content %}

  <div>
        {% if grocerylist.created_date %}
            <div class="listing">
                {{ grocerylist.created_date }}
            </div>
        {% endif %}
        <h1 class="details">{{ grocerylist.title }}</h1>
        <div class="jumbotron-2">
        <p class="listing">{{ grocerylist.text|linebreaksbr }}</p>
      </div>
    </div>
    <a class="btn btn-primary" style="margin-left:450px;" href="{% url 'edit_list' pk=grocerylist.pk %}"><span> Edit List</span></a>
    <a class="btn btn-danger" href="{% url 'grocery_delete' grocerylist.pk %}"><span> Delete List</span></a>
{% endblock %}}
