{% extends 'Shopping_List/base.html' %}
{% block content %}

<body>
    <div class="jumbotron-custom">
    <div class="container">
      <h1>New Grocery List</h1>
      <form  method="POST" >{% csrf_token %}
          <div class=""form-inline"">
             <label>Name</label>
               {{form.title}}
          </div>
          <div class="form-group">
             <label>Items</label>

            {{form.text}}
          </div>
          <button type="submit" class="save btn btn-default">Save</button>
  `     `</form>
    </div>
    </div>
</body>

<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container-fluid">
<div class="navbar-header">
  <a class="navbar-brand" href="http://127.0.0.1:8000/">Shopping List</a>
</div>

<ul class="nav navbar-nav">
  <li ><a href="http://127.0.0.1:8000/">Home</a></li>
  <li><a href="#">Recipes</a></li>
  <li><a href="#">Menu</a></li>
  <li class="active"><a href="http://127.0.0.1:8000/Shopping_List/saved_lists/">Grocery List</a></li>
</ul>
</div>
</nav>
{% endblock %}
