{% extends 'Shopping_List/base.html' %}
{% block content %}

<body>
    <div class="jumbotron-custom">
    <div class="container">
      <h1>New Grocery List</h1>
      <form  method="POST" >
        {% load widget_tweaks %}
        {% csrf_token %}
          <div class="title-form">
             <label class="form-inline-unique">Grocery List Name</label>
               {{form.title |add_class:"customCSS1" }}
          </div>
          <div class="form-group">
             <label  class="form-inline-unique2">Items</label>

            {{form.text |add_class:"customCSS2"}}
          </div>
          <button type="submit" class="save btn btn-primary">Save</button>
       </form>
  {{ form.media.js }}
    </div>
    </div>
</body>
{% endblock %}
