
{% extends 'Shopping_List/base.html' %}

{% block content %}
    <div >
      {% if user.is_authenticated %}
      <h3>Hello, {{ user.username }}</h3>
      {% endif %}
      <h1>Welcome to our App </h1>
    </div>
    <div>
      <div class="neighborhood-guides">
          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                      <div class="thumbnail">
                          <img src="http://images.media-allrecipes.com/images/69076.jpg">
                      </div>
                      <div class="thumbnail">
                          <img src="http://images.diabeticlivingonline.mdpcdn.com/sites/diabeticlivingonline.com/files/styles/slideshow_slide/public/potato_soup.jpg?itok=H_nUi77J">
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="thumbnail">
                          <img src="https://cdn.cpnscdn.com/static/blog/2016/01/Comfort-Food-Recipes_03-e1452538033365.jpg">
                      </div>
                      <div class="thumbnail">
                          <img src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2013/6/13/0/YW0301H_twice-baked-potatoes-recipe_s4x3.jpg.rend.hgtvcom.966.725.suffix/1406091903572.jpeg">
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="thumbnail">
                          <img src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2013/6/18/0/YW0304H_Pulled-Pork-Sandwich_s4x3.jpg.rend.hgtvcom.966.725.suffix/1387299384530.jpeg">
                      </div>
                  <div class="col-md-15">
                      <div class="thumbnail">
                          <img src="https://i.ytimg.com/vi/I4ORdAHRvzM/maxresdefault.jpg">
                      </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
<!--    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Shopping List</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://127.0.0.1:8000/">Home</a></li>
      <li><a href="http://127.0.0.1:8000/Shopping_List/saved_recipe_list/">Recipes</a></li>
      <li><a href="#">Menu</a></li>
      <li><a href="http://127.0.0.1:8000/Shopping_List/saved_lists/">Grocery List</a></li>
      {% if request.user.is_authenticated %}<li>Welcome '{{ request.user.username }}'</li>
      <li><a href="http://127.0.0.1:8000/logout/">Logout</a></li>
      {% else %}<li><a href="http://127.0.0.1:8000/login/">Login </a></li>
      {% endif %}
      <li><a href="http://127.0.0.1:8000/signup/">Sign up</a></li>
    </ul>
  </div>
</nav>-->
{% endblock %}}
</html>
