extends 'Shopping_List/base.html' %}

{% block content %}

 <div>
       <h1 class="details">{{ Recipe.recipe_name }}</h1>
       <div class="jumbotron-2">
       <p class="listing">{{ Recipe.ingredients|linebreaksbr }}</p>
     </div>
     <div class="jumbotron-2">
     <p class="listing">{{ recipelist.notes|linebreaksbr }}</p>
   </div>
   </div>
   <!-- <a class="btn btn-primary" style="margin-left:450px;" href="{% url 'edit_list' pk=grocerylist.pk %}"><span> Edit List</span></a>
   <a class="btn btn-danger" href="{% url 'grocery_delete' grocerylist.pk %}"><span> Delete List</span></a>
   <a class="btn btn-primary" style="margin-left:288px; width:175px;" href="http://127.0.0.1:8000/Shopping_List/saved_lists/"><span> All Saved Lists</span></a> -->
{% endblock %}}
