{%extends 'Shopping_List/base.html' %}

{% block content %}
<div class="recipe-custom">
<div class="new-back"
  <!-- <div class="recipe-custom"> -->
      <h3 class="details">{{ recipelist.recipe_name }}</h3>
      <!-- <div class="recipe-custom"> -->
      <p class="listing">{{ recipelist.ingredients|linebreaksbr }}</p>
      <!-- </div> -->
      <!-- <div class="recipe-custom"> -->
      <p class="listing">{{ recipelist.notes|linebreaksbr }}</p>
      <!-- </div> -->
 {{ form.media.js }}
  <!-- </div> -->
  <a class="btn btn-primary" style="margin-left:450px;" href="{% url 'edit_recipe' pk=recipelist.pk %}"><span> Edit Recipe</span></a>

  <a class="btn btn-primary" style="margin-left:288px; width:175px;" href="http://127.0.0.1:8000/Shopping_List/saved_recipe_list/"><span> Saved Recipe List</span></a>
</div>

</div>
 <!-- <a class="btn btn-primary" style="margin-left:450px;" href="{% url 'edit_recipe' pk=recipelist.pk %}"><span> Edit Recipe</span></a> -->

 <!-- <a class="btn btn-primary" style="margin-left:288px; width:175px;" href="http://127.0.0.1:8000/Shopping_List/saved_recipe_list/"><span> Saved Recipe List</span></a> -->
{% endblock %}}
