{% extends 'Shopping_List/base.html' %}
{% block content %}

<body>
    <div class="jumbotron-custom">
    <div class="container">
      <h1>New Recipe</h1>
      <form  method="POST" >
        {% load widget_tweaks %}
        {% csrf_token %}
          <div class="title-form">
             <label class="form-inline-unique">Recipe Name</label>
               {{form.recipe_name | add_class:"customCSS1" }}
          </div>

          <div class="form-group">
             <label class="form-inline-unique3">Ingredients</label>

            {{form.ingredients |add_class:"form-control customCSS3"}}
          </div>

          <div class="form-group">
             <label class="form-inline-unique4">Notes</label>

            {{form.notes |add_class:"form-control customCSS4"}}
          </div>

          <button type="submit" class="save btn btn-default">Save</button>
  `     `</form>
  {{ form.media.js }}
    </div>
    </div>
</body>
{% endblock %}
