{% extends 'Shopping_List/base.html' %}

{% block content %}
<div class="custom-back">
<a href="http://127.0.0.1:8000/Shopping_List/new/"><button type="button" class="btn btn-default btn-lg btn-block"><b>New Grocery List</b></button>
  {% for Grocery_list in saved_lists%}
    <div class="jumbotron">
      <div class="container">
        <p>{{ Grocery_list.created_date }}</p><br>
        <h1><a href="{% url 'grocerylist_detail' pk=Grocery_list.pk %}">{{ Grocery_list.title }}</h1><br></a>
        <p style:"margin-bottom:-100px;">{{ Grocery_list.text|linebreaksbr }}<p><br>
      </div>
    </div>

    {% endfor %}
  </div>
{% endblock %}
